<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Factorial and Square</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <style>
        body { font-family: Arial; text-align: center; margin-top: 100px; }
        .container { padding: 25px; width: 350px; margin: auto;
               background: #f2f2f2; border-radius: 10px;}
               h2{ color: #3033f1; text-decoration: underline; }
        input, button { padding: 10px; margin: 5px; border-radius: 5px; border: 1px solid #ccc; }
        button { background: #333; color: white; border: 0; }
    </style>
</head>

<body ng-controller="myCtrl">

<div class="container">
    <h2>Factorial & Square</h2>

    <input type="number" ng-model="num" placeholder="Enter number"><br>

    <button ng-click="fact()">Factorial</button>
    <button ng-click="square()">Square</button>

    <p>Factorial: {{result}}</p>
    <p>Square: {{sq}}</p>
</div>

<script>
var app = angular.module("myApp", []);

app.controller("myCtrl", function($scope) {

    $scope.fact = function() {
        var f = 1;
        for(var i = 1; i <= $scope.num; i++)
            f *= i;
        $scope.result = f;
    };

    $scope.square = function() {
        $scope.sq = $scope.num * $scope.num;
    };

});
</script>

</body>
</html>