<!doctype html>
<html ng-app="myApp">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
</head>
<style>
    body {
        font-family: 'Times New Roman', Times, serif, Arial, sans-serif;
        margin: 20px;
    }
    h2 {
        color: #07025a;
    }
    p{
        font-size: 18px;
    }
    button {
        margin: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
</style>
<body ng-controller="mainController">
    <h2>AngularJS Module and Controller</h2>
    <p>Message: {{message}}</p>
    <p>Counter: {{counter}}</p>
    <button ng-click="incrementCounter()">Increment Counter</button>
    <button ng-click="decrementCounter()">Decrement Counter</button>

    <p>Incremented Counter: {{incrementedCounter}}</p>
    <p>Decremented Counter: {{decrementedCounter}}</p>

    <script>
        var app = angular.module("myApp", []).controller("mainController", [
            "$scope",
            function ($scope) {
                $scope.message = "Hello from the controller!";
                $scope.counter = 0;
                $scope.incrementedCounter = 0;
                $scope.decrementedCounter = 0;

                $scope.incrementCounter = function () {
                    $scope.counter++;
                    $scope.incrementedCounter++;
                };

                $scope.decrementCounter = function () {
                    $scope.counter--;
                    $scope.decrementedCounter++;
                };
            },
        ]);
    </script>
</body>

</html>